<!DOCTYPE html>
<html>
	<head>
		<title>{% if title %}{{ title }}|{% endif %}Hashtagify</title>
		<link rel="stylesheet" href="/static/css/base.css" type="text/css" />
	</head>
	<body>
		<div><a href="/">Index</a></div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
		<div id="wrapper">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>

